<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app">
        <input v-model="word" type="text" id="Type a word">
        <button type="button" @click="Save">Save</button>
        <button type="button" @click="Show">Show</button>
        <button type="button" @click="Clear">Clear</button> 
        <div>
            <a v-if="words.length==0">empty</a>
            <a v-else>{{wordDisplay}}</a>
        </div>
    </div>

    <script src="js/index.js"></script>
    <script>app.mount('#app');</script>
</body>
</html>